<h3>Welcome to CSE Motors!</h3>
<div class="hero">
    <picture>
        <source srcset="images/vehicles/delorean.jpg" media="(min-width: 600px)">
        <img src="images/vehicles/delorean-tn.jpg" alt="Delorean">
    </picture>
    <div class="heroInfo">
        <h4>DMC Delorean</h4>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice!</li>
        </ul>
        <a href="/">Own Today</a>
    </div>
</div>
<div id="content">
    <div id="reviewsContainer">
        <h3>DMC Delorean Reviews</h3>
        <ul class="reviews">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feelinf McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    
    <div id="upgradesContainer">
        <h3>Delorean Upgrades</h3>
        <div class="upgradeContents">
            <div class="upgrade">
                <img src="images/upgrades/flux-cap.png" alt="Picture of a Flux Capacitor">
                <h4>Flux Capacitor</h4>
                <p><a href="/upgrades/flux-capacitor">Learn More</a></p>
            </div>
            <div class="upgrade">
                <img src="images/upgrades/flame.jpg" alt="Picture of Flame Decals">
                <h4>Flame Decals</h4>
                <p><a href="/upgrades/flame-decals">Learn More</a></p>
            </div>
            <div class="upgrade">
                <img src="images/upgrades/bumper_sticker.jpg" alt=" Picture of a Bumper Stickers">
                <h4>Bumper Stickers</h4>
                <p><a href="/upgrades/bumper-stickers">Learn More</a></p>
            </div>
            <div class="upgrade">
                <img src="images/upgrades/hub-cap.jpg" alt=" Picture of a Hub Caps">
                <h4>Hub Caps</h4>
                <p><a href="/upgrades/hub-caps">Learn More</a></p>
            </div>
        </div>
    </div>
</div>