<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>


<%- messages() %>

<div id="invManagementContent"> 

    <div class="management">
        <h2>Add new items</h2>
        <p>Choose to add a new classification or inventory</p>
        
        <ul>
            <li><a href="../../inv/add-classification">Create a new Classification</a></li>
            <li><a href="../../inv/add-inventory">Add a new vehicle</a></li>
        </ul>
    </div>

    <div id="invManagement" class="management">
        <h2>Manage Inventory</h2>
        
        <p>Select a classification from the list</p>
        
        <%- classificationSelect %>
        
        <table id="inventoryDisplay" class="displayTable"></table>
        <noscript>JavaScript must be enabled to use this page.</noscript>
    </div>


</div>    



<script src="../../js/inventory.js"></script>